Below is a script to extract paired reddit comments from May of 2015. Script was built using the SentDex guide, which can be found here. https://pythonprogramming.net/chatbot-deep-learning-python-tensorflow/

In [1]:
import sqlite3
import json
from datetime import datetime

sql_transaction = []

connection = sqlite3.connect('2015-05.db')
c = connection.cursor()

def create_table():
    c.execute("CREATE TABLE IF NOT EXISTS parent_reply(parent_id TEXT PRIMARY KEY, comment_id TEXT UNIQUE, parent TEXT, comment TEXT, subreddit TEXT, unix INT, score INT)")

def format_data(data):
    data = data.replace('\n',' newlinechar ').replace('\r',' newlinechar ').replace('"',"'")
    return data

def transaction_bldr(sql):
    global sql_transaction
    sql_transaction.append(sql)
    if len(sql_transaction) > 1000:
        c.execute('BEGIN TRANSACTION')
        for s in sql_transaction:
            try:
                c.execute(s)
            except:
                pass
        connection.commit()
        sql_transaction = []

def sql_insert_replace_comment(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """UPDATE parent_reply SET parent_id = ?, comment_id = ?, parent = ?, comment = ?, subreddit = ?, unix = ?, score = ? WHERE parent_id =?;""".format(parentid, commentid, parent, comment, subreddit, int(time), score, parentid)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

def sql_insert_has_parent(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, parent, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}","{}",{},{});""".format(parentid, commentid, parent, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

def sql_insert_no_parent(commentid,parentid,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}",{},{});""".format(parentid, commentid, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

def acceptable(data):
    if len(data.split(' ')) > 50 or len(data) < 1:
        return False
    elif len(data) > 1000:
        return False
    elif data == '[deleted]':
        return False
    elif data == '[removed]':
        return False
    else:
        return True

def find_parent(pid):
    try:
        sql = "SELECT comment FROM parent_reply WHERE comment_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False

def find_existing_score(pid):
    try:
        sql = "SELECT score FROM parent_reply WHERE parent_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False
    
if __name__ == '__main__':
    create_table()
    row_counter = 0
    paired_rows = 0

    with open("C:/Users/mikes/Documents/ChatBot/RC_2015-05/RC_2015-05", buffering=1000) as f:
        for row in f:
            row_counter += 1
            row = json.loads(row)
            parent_id = row['parent_id']
            body = format_data(row['body'])
            created_utc = row['created_utc']
            score = row['score']
            comment_id = row['name']
            subreddit = row['subreddit']
            parent_data = find_parent(parent_id)
            if score >= 2:
                existing_comment_score = find_existing_score(parent_id)
                if existing_comment_score:
                    if score > existing_comment_score:
                        if acceptable(body):
                            sql_insert_replace_comment(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                            
                else:
                    if acceptable(body):
                        if parent_data:
                            sql_insert_has_parent(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                            paired_rows += 1
                        else:
                            sql_insert_no_parent(comment_id,parent_id,body,subreddit,created_utc,score)
                            
            if row_counter % 100000 == 0:
                print('Total Rows Read: {}, Paired Rows: {}, Time: {}'.format(row_counter, paired_rows, str(datetime.now())))

Total Rows Read: 100000, Paired Rows: 3220, Time: 2018-06-28 19:03:21.247010
Total Rows Read: 200000, Paired Rows: 8064, Time: 2018-06-28 19:03:34.321769
Total Rows Read: 300000, Paired Rows: 13710, Time: 2018-06-28 19:03:48.001520
Total Rows Read: 400000, Paired Rows: 19732, Time: 2018-06-28 19:04:00.726113
Total Rows Read: 500000, Paired Rows: 25657, Time: 2018-06-28 19:04:13.984302
Total Rows Read: 600000, Paired Rows: 31065, Time: 2018-06-28 19:04:26.298576
Total Rows Read: 700000, Paired Rows: 36074, Time: 2018-06-28 19:04:38.050063
Total Rows Read: 800000, Paired Rows: 41589, Time: 2018-06-28 19:04:49.832822
Total Rows Read: 900000, Paired Rows: 47722, Time: 2018-06-28 19:05:04.434174
Total Rows Read: 1000000, Paired Rows: 54085, Time: 2018-06-28 19:05:19.406834
Total Rows Read: 1100000, Paired Rows: 60445, Time: 2018-06-28 19:05:32.254839
Total Rows Read: 1200000, Paired Rows: 66804, Time: 2018-06-28 19:05:44.469770
Total Rows Read: 1300000, Paired Rows: 73208, Time: 2018-06-28 19:05:58.297979
Total Rows Read: 1400000, Paired Rows: 79587, Time: 2018-06-28 19:06:11.340647
Total Rows Read: 1500000, Paired Rows: 85935, Time: 2018-06-28 19:06:23.323591
Total Rows Read: 1600000, Paired Rows: 92242, Time: 2018-06-28 19:06:35.689678
Total Rows Read: 1700000, Paired Rows: 98553, Time: 2018-06-28 19:06:48.003091
Total Rows Read: 1800000, Paired Rows: 104736, Time: 2018-06-28 19:07:00.222515
Total Rows Read: 1900000, Paired Rows: 110750, Time: 2018-06-28 19:07:12.267147
Total Rows Read: 2000000, Paired Rows: 116725, Time: 2018-06-28 19:07:24.599828
Total Rows Read: 2100000, Paired Rows: 122568, Time: 2018-06-28 19:07:37.052212
Total Rows Read: 2200000, Paired Rows: 128671, Time: 2018-06-28 19:07:49.812296
Total Rows Read: 2300000, Paired Rows: 134525, Time: 2018-06-28 19:08:02.997825
Total Rows Read: 2400000, Paired Rows: 140024, Time: 2018-06-28 19:08:15.382549
Total Rows Read: 2500000, Paired Rows: 145142, Time: 2018-06-28 19:08:27.481000
Total Rows Read: 2600000, Paired Rows: 150599, Time: 2018-06-28 19:08:39.489173
Total Rows Read: 2700000, Paired Rows: 156776, Time: 2018-06-28 19:08:52.245351
Total Rows Read: 2800000, Paired Rows: 162966, Time: 2018-06-28 19:09:04.651073
Total Rows Read: 2900000, Paired Rows: 169564, Time: 2018-06-28 19:09:16.980039
Total Rows Read: 3000000, Paired Rows: 175905, Time: 2018-06-28 19:09:29.154495
Total Rows Read: 3100000, Paired Rows: 182391, Time: 2018-06-28 19:09:41.250824
Total Rows Read: 3200000, Paired Rows: 189007, Time: 2018-06-28 19:09:53.702943
Total Rows Read: 3300000, Paired Rows: 195649, Time: 2018-06-28 19:10:06.444207
Total Rows Read: 3400000, Paired Rows: 202183, Time: 2018-06-28 19:10:18.571259
Total Rows Read: 3500000, Paired Rows: 208288, Time: 2018-06-28 19:10:30.562180
Total Rows Read: 3600000, Paired Rows: 214255, Time: 2018-06-28 19:10:42.596137
Total Rows Read: 3700000, Paired Rows: 219929, Time: 2018-06-28 19:10:54.372083
Total Rows Read: 3800000, Paired Rows: 225503, Time: 2018-06-28 19:11:08.735403
Total Rows Read: 3900000, Paired Rows: 230950, Time: 2018-06-28 19:11:21.112297
Total Rows Read: 4000000, Paired Rows: 236267, Time: 2018-06-28 19:11:33.418188
Total Rows Read: 4100000, Paired Rows: 242072, Time: 2018-06-28 19:11:45.938117
Total Rows Read: 4200000, Paired Rows: 248124, Time: 2018-06-28 19:11:58.653264
Total Rows Read: 4300000, Paired Rows: 254615, Time: 2018-06-28 19:12:11.519073
Total Rows Read: 4400000, Paired Rows: 260876, Time: 2018-06-28 19:12:23.847224
Total Rows Read: 4500000, Paired Rows: 267125, Time: 2018-06-28 19:12:36.468921
Total Rows Read: 4600000, Paired Rows: 273560, Time: 2018-06-28 19:12:48.764441
Total Rows Read: 4700000, Paired Rows: 279298, Time: 2018-06-28 19:13:00.824208
Total Rows Read: 4800000, Paired Rows: 285300, Time: 2018-06-28 19:13:13.026736
Total Rows Read: 4900000, Paired Rows: 291583, Time: 2018-06-28 19:13:25.438002
Total Rows Read: 5000000, Paired Rows: 297546, Time: 2018-06-28 19:13:37.231681
Total Rows Read: 5100000, Paired Rows: 303812, Time: 2018-06-28 19:13:49.723815
Total Rows Read: 5200000, Paired Rows: 309866, Time: 2018-06-28 19:14:01.644141
Total Rows Read: 5300000, Paired Rows: 315339, Time: 2018-06-28 19:14:13.012910
Total Rows Read: 5400000, Paired Rows: 321470, Time: 2018-06-28 19:14:25.566427
Total Rows Read: 5500000, Paired Rows: 327191, Time: 2018-06-28 19:14:37.543886
Total Rows Read: 5600000, Paired Rows: 332619, Time: 2018-06-28 19:14:49.900672
Total Rows Read: 5700000, Paired Rows: 338441, Time: 2018-06-28 19:15:02.113514
Total Rows Read: 5800000, Paired Rows: 344561, Time: 2018-06-28 19:15:14.349040
Total Rows Read: 5900000, Paired Rows: 350856, Time: 2018-06-28 19:15:27.440602
Total Rows Read: 6000000, Paired Rows: 357347, Time: 2018-06-28 19:15:40.021408
Total Rows Read: 6100000, Paired Rows: 363740, Time: 2018-06-28 19:15:52.654554
Total Rows Read: 6200000, Paired Rows: 370187, Time: 2018-06-28 19:16:05.166069
Total Rows Read: 6300000, Paired Rows: 376772, Time: 2018-06-28 19:16:17.650576
Total Rows Read: 6400000, Paired Rows: 383283, Time: 2018-06-28 19:16:30.469213
Total Rows Read: 6500000, Paired Rows: 389450, Time: 2018-06-28 19:16:42.856837
Total Rows Read: 6600000, Paired Rows: 394972, Time: 2018-06-28 19:16:54.939748
Total Rows Read: 6700000, Paired Rows: 401460, Time: 2018-06-28 19:17:09.206261
Total Rows Read: 6800000, Paired Rows: 407530, Time: 2018-06-28 19:17:21.546668
Total Rows Read: 6900000, Paired Rows: 413439, Time: 2018-06-28 19:17:33.609249
Total Rows Read: 7000000, Paired Rows: 419139, Time: 2018-06-28 19:17:46.216576
Total Rows Read: 7100000, Paired Rows: 425152, Time: 2018-06-28 19:17:58.494522
Total Rows Read: 7200000, Paired Rows: 431041, Time: 2018-06-28 19:18:10.818932
Total Rows Read: 7300000, Paired Rows: 436889, Time: 2018-06-28 19:18:23.154602
Total Rows Read: 7400000, Paired Rows: 442351, Time: 2018-06-28 19:18:35.518174
Total Rows Read: 7500000, Paired Rows: 447671, Time: 2018-06-28 19:18:47.742335
Total Rows Read: 7600000, Paired Rows: 453529, Time: 2018-06-28 19:19:00.129064
Total Rows Read: 7700000, Paired Rows: 459676, Time: 2018-06-28 19:19:12.601506
Total Rows Read: 7800000, Paired Rows: 466251, Time: 2018-06-28 19:19:25.002703
Total Rows Read: 7900000, Paired Rows: 472604, Time: 2018-06-28 19:19:37.430110
Total Rows Read: 8000000, Paired Rows: 479228, Time: 2018-06-28 19:19:50.205649
Total Rows Read: 8100000, Paired Rows: 485811, Time: 2018-06-28 19:20:02.462452
Total Rows Read: 8200000, Paired Rows: 492343, Time: 2018-06-28 19:20:14.891153
Total Rows Read: 8300000, Paired Rows: 498885, Time: 2018-06-28 19:20:27.262500
Total Rows Read: 8400000, Paired Rows: 505305, Time: 2018-06-28 19:20:39.798386
Total Rows Read: 8500000, Paired Rows: 511636, Time: 2018-06-28 19:20:52.042287
Total Rows Read: 8600000, Paired Rows: 517963, Time: 2018-06-28 19:21:04.363611
Total Rows Read: 8700000, Paired Rows: 523999, Time: 2018-06-28 19:21:18.783099
Total Rows Read: 8800000, Paired Rows: 530069, Time: 2018-06-28 19:21:36.196456
Total Rows Read: 8900000, Paired Rows: 536131, Time: 2018-06-28 19:21:49.871692
Total Rows Read: 9000000, Paired Rows: 542492, Time: 2018-06-28 19:22:03.425007
Total Rows Read: 9100000, Paired Rows: 548438, Time: 2018-06-28 19:22:16.608806
Total Rows Read: 9200000, Paired Rows: 554239, Time: 2018-06-28 19:22:28.955298
Total Rows Read: 9300000, Paired Rows: 559485, Time: 2018-06-28 19:22:42.271018
Total Rows Read: 9400000, Paired Rows: 565079, Time: 2018-06-28 19:22:54.608740
Total Rows Read: 9500000, Paired Rows: 571241, Time: 2018-06-28 19:23:08.417485
Total Rows Read: 9600000, Paired Rows: 577453, Time: 2018-06-28 19:23:21.498890
Total Rows Read: 9700000, Paired Rows: 583785, Time: 2018-06-28 19:23:35.784810
Total Rows Read: 9800000, Paired Rows: 590427, Time: 2018-06-28 19:23:49.430589
Total Rows Read: 9900000, Paired Rows: 597070, Time: 2018-06-28 19:24:02.861271
Total Rows Read: 10000000, Paired Rows: 603502, Time: 2018-06-28 19:24:16.207544
Total Rows Read: 10100000, Paired Rows: 609744, Time: 2018-06-28 19:24:29.200315
Total Rows Read: 10200000, Paired Rows: 616128, Time: 2018-06-28 19:24:42.077922
Total Rows Read: 10300000, Paired Rows: 622403, Time: 2018-06-28 19:24:56.405402

Total Rows Read: 10400000, Paired Rows: 629019, Time: 2018-06-28 19:25:10.323355
Total Rows Read: 10500000, Paired Rows: 635382, Time: 2018-06-28 19:25:24.444779
Total Rows Read: 10600000, Paired Rows: 641507, Time: 2018-06-28 19:25:37.157651
Total Rows Read: 10700000, Paired Rows: 647309, Time: 2018-06-28 19:25:49.404857
Total Rows Read: 10800000, Paired Rows: 653334, Time: 2018-06-28 19:26:02.288012
Total Rows Read: 10900000, Paired Rows: 659477, Time: 2018-06-28 19:26:14.941103
Total Rows Read: 11000000, Paired Rows: 665659, Time: 2018-06-28 19:26:27.854038
Total Rows Read: 11100000, Paired Rows: 671743, Time: 2018-06-28 19:26:40.186425
Total Rows Read: 11200000, Paired Rows: 677414, Time: 2018-06-28 19:26:52.671155
Total Rows Read: 11300000, Paired Rows: 682966, Time: 2018-06-28 19:27:05.224504
Total Rows Read: 11400000, Paired Rows: 689003, Time: 2018-06-28 19:27:18.986059
Total Rows Read: 11500000, Paired Rows: 695241, Time: 2018-06-28 19:27:32.717216
Total Rows Read: 11600000, Paired Rows: 701738, Time: 2018-06-28 19:27:48.204247
Total Rows Read: 11700000, Paired Rows: 708323, Time: 2018-06-28 19:28:03.281835
Total Rows Read: 11800000, Paired Rows: 714933, Time: 2018-06-28 19:28:16.678722
Total Rows Read: 11900000, Paired Rows: 721652, Time: 2018-06-28 19:28:30.693693
Total Rows Read: 12000000, Paired Rows: 728569, Time: 2018-06-28 19:28:45.006149
Total Rows Read: 12100000, Paired Rows: 735265, Time: 2018-06-28 19:28:59.856259
Total Rows Read: 12200000, Paired Rows: 742023, Time: 2018-06-28 19:29:14.921299
Total Rows Read: 12300000, Paired Rows: 748270, Time: 2018-06-28 19:29:29.467055
Total Rows Read: 12400000, Paired Rows: 754695, Time: 2018-06-28 19:29:44.604617
Total Rows Read: 12500000, Paired Rows: 761035, Time: 2018-06-28 19:29:58.112387
Total Rows Read: 12600000, Paired Rows: 767450, Time: 2018-06-28 19:30:12.322446
Total Rows Read: 12700000, Paired Rows: 773735, Time: 2018-06-28 19:30:26.341538
Total Rows Read: 12800000, Paired Rows: 779909, Time: 2018-06-28 19:30:40.012999
Total Rows Read: 12900000, Paired Rows: 785719, Time: 2018-06-28 19:30:55.852874
Total Rows Read: 13000000, Paired Rows: 791623, Time: 2018-06-28 19:31:09.562568
Total Rows Read: 13100000, Paired Rows: 797282, Time: 2018-06-28 19:31:23.550619
Total Rows Read: 13200000, Paired Rows: 802704, Time: 2018-06-28 19:31:37.972168
Total Rows Read: 13300000, Paired Rows: 808461, Time: 2018-06-28 19:31:51.393141
Total Rows Read: 13400000, Paired Rows: 814531, Time: 2018-06-28 19:32:05.151471
Total Rows Read: 13500000, Paired Rows: 820866, Time: 2018-06-28 19:32:19.103974
Total Rows Read: 13600000, Paired Rows: 827444, Time: 2018-06-28 19:32:32.877044
Total Rows Read: 13700000, Paired Rows: 834003, Time: 2018-06-28 19:32:47.859661
Total Rows Read: 13800000, Paired Rows: 840709, Time: 2018-06-28 19:33:02.548579
Total Rows Read: 13900000, Paired Rows: 847385, Time: 2018-06-28 19:33:17.051354
Total Rows Read: 14000000, Paired Rows: 854086, Time: 2018-06-28 19:33:31.401742
Total Rows Read: 14100000, Paired Rows: 860637, Time: 2018-06-28 19:33:45.540485
Total Rows Read: 14200000, Paired Rows: 866898, Time: 2018-06-28 19:33:59.789275
Total Rows Read: 14300000, Paired Rows: 873113, Time: 2018-06-28 19:34:13.871971
Total Rows Read: 14400000, Paired Rows: 878939, Time: 2018-06-28 19:34:27.913597
Total Rows Read: 14500000, Paired Rows: 884562, Time: 2018-06-28 19:34:41.519038
Total Rows Read: 14600000, Paired Rows: 890060, Time: 2018-06-28 19:34:54.918437
Total Rows Read: 14700000, Paired Rows: 895977, Time: 2018-06-28 19:35:09.346881
Total Rows Read: 14800000, Paired Rows: 901890, Time: 2018-06-28 19:35:21.867183
Total Rows Read: 14900000, Paired Rows: 907278, Time: 2018-06-28 19:35:34.020140
Total Rows Read: 15000000, Paired Rows: 912501, Time: 2018-06-28 19:35:46.428252
Total Rows Read: 15100000, Paired Rows: 918153, Time: 2018-06-28 19:35:58.562926
Total Rows Read: 15200000, Paired Rows: 924224, Time: 2018-06-28 19:36:11.412602
Total Rows Read: 15300000, Paired Rows: 930642, Time: 2018-06-28 19:36:24.260400
Total Rows Read: 15400000, Paired Rows: 936989, Time: 2018-06-28 19:36:36.334833
Total Rows Read: 15500000, Paired Rows: 943322, Time: 2018-06-28 19:36:51.023761
Total Rows Read: 15600000, Paired Rows: 949876, Time: 2018-06-28 19:37:04.074648
Total Rows Read: 15700000, Paired Rows: 956436, Time: 2018-06-28 19:37:16.605071
Total Rows Read: 15800000, Paired Rows: 962884, Time: 2018-06-28 19:37:29.537660
Total Rows Read: 15900000, Paired Rows: 968972, Time: 2018-06-28 19:37:41.989095
Total Rows Read: 16000000, Paired Rows: 975042, Time: 2018-06-28 19:37:54.793817
Total Rows Read: 16100000, Paired Rows: 981163, Time: 2018-06-28 19:38:07.634275
Total Rows Read: 16200000, Paired Rows: 987661, Time: 2018-06-28 19:38:20.389578
Total Rows Read: 16300000, Paired Rows: 993671, Time: 2018-06-28 19:38:34.187249
Total Rows Read: 16400000, Paired Rows: 999317, Time: 2018-06-28 19:38:47.631000
Total Rows Read: 16500000, Paired Rows: 1004632, Time: 2018-06-28 19:39:00.193344
Total Rows Read: 16600000, Paired Rows: 1010216, Time: 2018-06-28 19:39:13.575146
Total Rows Read: 16700000, Paired Rows: 1016419, Time: 2018-06-28 19:39:26.689585
Total Rows Read: 16800000, Paired Rows: 1022769, Time: 2018-06-28 19:39:39.734974
Total Rows Read: 16900000, Paired Rows: 1029394, Time: 2018-06-28 19:39:53.186935
Total Rows Read: 17000000, Paired Rows: 1035835, Time: 2018-06-28 19:40:06.248834
Total Rows Read: 17100000, Paired Rows: 1042316, Time: 2018-06-28 19:40:18.938456
Total Rows Read: 17200000, Paired Rows: 1048701, Time: 2018-06-28 19:40:31.995954
Total Rows Read: 17300000, Paired Rows: 1054481, Time: 2018-06-28 19:40:44.697137
Total Rows Read: 17400000, Paired Rows: 1061017, Time: 2018-06-28 19:40:57.157735
Total Rows Read: 17500000, Paired Rows: 1067406, Time: 2018-06-28 19:41:10.377308
Total Rows Read: 17600000, Paired Rows: 1073649, Time: 2018-06-28 19:41:22.583803
Total Rows Read: 17700000, Paired Rows: 1079521, Time: 2018-06-28 19:41:34.801645
Total Rows Read: 17800000, Paired Rows: 1085626, Time: 2018-06-28 19:41:47.427240
Total Rows Read: 17900000, Paired Rows: 1091757, Time: 2018-06-28 19:41:59.712540
Total Rows Read: 18000000, Paired Rows: 1097711, Time: 2018-06-28 19:42:12.072517
Total Rows Read: 18100000, Paired Rows: 1103203, Time: 2018-06-28 19:42:24.985587
Total Rows Read: 18200000, Paired Rows: 1109132, Time: 2018-06-28 19:42:37.870464
Total Rows Read: 18300000, Paired Rows: 1115328, Time: 2018-06-28 19:42:51.857480
Total Rows Read: 18400000, Paired Rows: 1121583, Time: 2018-06-28 19:43:04.082359
Total Rows Read: 18500000, Paired Rows: 1128077, Time: 2018-06-28 19:43:16.117319
Total Rows Read: 18600000, Paired Rows: 1134562, Time: 2018-06-28 19:43:28.270243
Total Rows Read: 18700000, Paired Rows: 1141102, Time: 2018-06-28 19:43:40.234634
Total Rows Read: 18800000, Paired Rows: 1147627, Time: 2018-06-28 19:43:52.981387
Total Rows Read: 18900000, Paired Rows: 1154151, Time: 2018-06-28 19:44:06.287816
Total Rows Read: 19000000, Paired Rows: 1160608, Time: 2018-06-28 19:44:18.976998
Total Rows Read: 19100000, Paired Rows: 1167176, Time: 2018-06-28 19:44:31.518837
Total Rows Read: 19200000, Paired Rows: 1173558, Time: 2018-06-28 19:44:44.538413
Total Rows Read: 19300000, Paired Rows: 1180009, Time: 2018-06-28 19:44:57.269620
Total Rows Read: 19400000, Paired Rows: 1186002, Time: 2018-06-28 19:45:10.065402
Total Rows Read: 19500000, Paired Rows: 1191992, Time: 2018-06-28 19:45:22.601125
Total Rows Read: 19600000, Paired Rows: 1197973, Time: 2018-06-28 19:45:36.150422
Total Rows Read: 19700000, Paired Rows: 1203726, Time: 2018-06-28 19:45:49.233774
Total Rows Read: 19800000, Paired Rows: 1209126, Time: 2018-06-28 19:46:02.075824
Total Rows Read: 19900000, Paired Rows: 1214669, Time: 2018-06-28 19:46:14.996524
Total Rows Read: 20000000, Paired Rows: 1220598, Time: 2018-06-28 19:46:28.706251
Total Rows Read: 20100000, Paired Rows: 1226846, Time: 2018-06-28 19:46:41.972538
Total Rows Read: 20200000, Paired Rows: 1233232, Time: 2018-06-28 19:46:55.029277
Total Rows Read: 20300000, Paired Rows: 1239661, Time: 2018-06-28 19:47:09.217584
Total Rows Read: 20400000, Paired Rows: 1246082, Time: 2018-06-28 19:47:23.016561

Total Rows Read: 20500000, Paired Rows: 1252751, Time: 2018-06-28 19:47:35.523418
Total Rows Read: 20600000, Paired Rows: 1259313, Time: 2018-06-28 19:47:48.010086
Total Rows Read: 20700000, Paired Rows: 1265716, Time: 2018-06-28 19:48:02.043728
Total Rows Read: 20800000, Paired Rows: 1272379, Time: 2018-06-28 19:48:14.913217
Total Rows Read: 20900000, Paired Rows: 1278973, Time: 2018-06-28 19:48:28.507752
Total Rows Read: 21000000, Paired Rows: 1285556, Time: 2018-06-28 19:48:42.950277
Total Rows Read: 21100000, Paired Rows: 1291903, Time: 2018-06-28 19:48:56.485071
Total Rows Read: 21200000, Paired Rows: 1297929, Time: 2018-06-28 19:49:09.890188
Total Rows Read: 21300000, Paired Rows: 1303778, Time: 2018-06-28 19:49:23.388146
Total Rows Read: 21400000, Paired Rows: 1310155, Time: 2018-06-28 19:49:37.062878
Total Rows Read: 21500000, Paired Rows: 1316272, Time: 2018-06-28 19:49:50.542085
Total Rows Read: 21600000, Paired Rows: 1322346, Time: 2018-06-28 19:50:03.869765
Total Rows Read: 21700000, Paired Rows: 1328173, Time: 2018-06-28 19:50:16.999702
Total Rows Read: 21800000, Paired Rows: 1333631, Time: 2018-06-28 19:50:30.175274
Total Rows Read: 21900000, Paired Rows: 1339360, Time: 2018-06-28 19:50:43.679424
Total Rows Read: 22000000, Paired Rows: 1345503, Time: 2018-06-28 19:50:56.994886
Total Rows Read: 22100000, Paired Rows: 1351697, Time: 2018-06-28 19:51:10.498859
Total Rows Read: 22200000, Paired Rows: 1358044, Time: 2018-06-28 19:51:23.374421
Total Rows Read: 22300000, Paired Rows: 1364337, Time: 2018-06-28 19:51:36.676876
Total Rows Read: 22400000, Paired Rows: 1371086, Time: 2018-06-28 19:51:50.353780
Total Rows Read: 22500000, Paired Rows: 1377600, Time: 2018-06-28 19:52:04.530299
Total Rows Read: 22600000, Paired Rows: 1384062, Time: 2018-06-28 19:52:17.835489
Total Rows Read: 22700000, Paired Rows: 1390461, Time: 2018-06-28 19:52:30.800694
Total Rows Read: 22800000, Paired Rows: 1396994, Time: 2018-06-28 19:52:44.342386
Total Rows Read: 22900000, Paired Rows: 1403482, Time: 2018-06-28 19:52:57.468098
Total Rows Read: 23000000, Paired Rows: 1410039, Time: 2018-06-28 19:53:10.456560
Total Rows Read: 23100000, Paired Rows: 1416113, Time: 2018-06-28 19:53:23.457140
Total Rows Read: 23200000, Paired Rows: 1422160, Time: 2018-06-28 19:53:36.504331
Total Rows Read: 23300000, Paired Rows: 1428058, Time: 2018-06-28 19:53:49.502331
Total Rows Read: 23400000, Paired Rows: 1434225, Time: 2018-06-28 19:54:02.543839
Total Rows Read: 23500000, Paired Rows: 1440288, Time: 2018-06-28 19:54:15.682220
Total Rows Read: 23600000, Paired Rows: 1446014, Time: 2018-06-28 19:54:28.412651
Total Rows Read: 23700000, Paired Rows: 1451295, Time: 2018-06-28 19:54:42.173378
Total Rows Read: 23800000, Paired Rows: 1456942, Time: 2018-06-28 19:54:55.198469
Total Rows Read: 23900000, Paired Rows: 1463333, Time: 2018-06-28 19:55:08.335866
Total Rows Read: 24000000, Paired Rows: 1469631, Time: 2018-06-28 19:55:21.178730
Total Rows Read: 24100000, Paired Rows: 1476039, Time: 2018-06-28 19:55:34.006571
Total Rows Read: 24200000, Paired Rows: 1482537, Time: 2018-06-28 19:55:46.831658
Total Rows Read: 24300000, Paired Rows: 1489219, Time: 2018-06-28 19:56:00.285882
Total Rows Read: 24400000, Paired Rows: 1495956, Time: 2018-06-28 19:56:22.070282
Total Rows Read: 24500000, Paired Rows: 1502779, Time: 2018-06-28 19:56:46.751747
Total Rows Read: 24600000, Paired Rows: 1509463, Time: 2018-06-28 19:57:11.997214
Total Rows Read: 24700000, Paired Rows: 1516088, Time: 2018-06-28 19:57:39.117988
Total Rows Read: 24800000, Paired Rows: 1522715, Time: 2018-06-28 19:58:03.843130
Total Rows Read: 24900000, Paired Rows: 1529183, Time: 2018-06-28 19:58:26.243405
Total Rows Read: 25000000, Paired Rows: 1535103, Time: 2018-06-28 19:58:45.324061
Total Rows Read: 25100000, Paired Rows: 1541156, Time: 2018-06-28 19:59:05.687202
Total Rows Read: 25200000, Paired Rows: 1547515, Time: 2018-06-28 19:59:26.433952
Total Rows Read: 25300000, Paired Rows: 1553350, Time: 2018-06-28 19:59:45.682546
Total Rows Read: 25400000, Paired Rows: 1558705, Time: 2018-06-28 20:00:05.522085
Total Rows Read: 25500000, Paired Rows: 1563953, Time: 2018-06-28 20:00:23.876138
Total Rows Read: 25600000, Paired Rows: 1569455, Time: 2018-06-28 20:00:42.947293
Total Rows Read: 25700000, Paired Rows: 1575298, Time: 2018-06-28 20:01:03.525298
Total Rows Read: 25800000, Paired Rows: 1581563, Time: 2018-06-28 20:01:24.423990
Total Rows Read: 25900000, Paired Rows: 1587848, Time: 2018-06-28 20:01:45.820624
Total Rows Read: 26000000, Paired Rows: 1594404, Time: 2018-06-28 20:02:05.499614
Total Rows Read: 26100000, Paired Rows: 1600974, Time: 2018-06-28 20:02:26.818042
Total Rows Read: 26200000, Paired Rows: 1607606, Time: 2018-06-28 20:02:50.273799
Total Rows Read: 26300000, Paired Rows: 1614018, Time: 2018-06-28 20:03:16.651485
Total Rows Read: 26400000, Paired Rows: 1620463, Time: 2018-06-28 20:03:43.812927
Total Rows Read: 26500000, Paired Rows: 1626853, Time: 2018-06-28 20:04:13.736779
Total Rows Read: 26600000, Paired Rows: 1633335, Time: 2018-06-28 20:04:49.626366
Total Rows Read: 26700000, Paired Rows: 1639589, Time: 2018-06-28 20:05:27.220525
Total Rows Read: 26800000, Paired Rows: 1645730, Time: 2018-06-28 20:06:05.855244
Total Rows Read: 26900000, Paired Rows: 1651611, Time: 2018-06-28 20:06:44.494218
Total Rows Read: 27000000, Paired Rows: 1657656, Time: 2018-06-28 20:07:23.259826
Total Rows Read: 27100000, Paired Rows: 1663688, Time: 2018-06-28 20:08:02.978852
Total Rows Read: 27200000, Paired Rows: 1669359, Time: 2018-06-28 20:08:36.823593
Total Rows Read: 27300000, Paired Rows: 1674409, Time: 2018-06-28 20:09:14.029020
Total Rows Read: 27400000, Paired Rows: 1679667, Time: 2018-06-28 20:09:50.443067
Total Rows Read: 27500000, Paired Rows: 1685104, Time: 2018-06-28 20:10:18.933520
Total Rows Read: 27600000, Paired Rows: 1690944, Time: 2018-06-28 20:10:54.222932
Total Rows Read: 27700000, Paired Rows: 1696982, Time: 2018-06-28 20:11:21.906941
Total Rows Read: 27800000, Paired Rows: 1702979, Time: 2018-06-28 20:11:40.989488
Total Rows Read: 27900000, Paired Rows: 1709192, Time: 2018-06-28 20:12:00.378301
Total Rows Read: 28000000, Paired Rows: 1715762, Time: 2018-06-28 20:12:19.542987
Total Rows Read: 28100000, Paired Rows: 1722059, Time: 2018-06-28 20:12:39.287487
Total Rows Read: 28200000, Paired Rows: 1728379, Time: 2018-06-28 20:12:57.831064
Total Rows Read: 28300000, Paired Rows: 1734565, Time: 2018-06-28 20:13:15.377267
Total Rows Read: 28400000, Paired Rows: 1741018, Time: 2018-06-28 20:13:29.846138
Total Rows Read: 28500000, Paired Rows: 1747133, Time: 2018-06-28 20:13:43.073885
Total Rows Read: 28600000, Paired Rows: 1753004, Time: 2018-06-28 20:13:56.585510
Total Rows Read: 28700000, Paired Rows: 1758504, Time: 2018-06-28 20:14:10.210680
Total Rows Read: 28800000, Paired Rows: 1763680, Time: 2018-06-28 20:14:23.513056
Total Rows Read: 28900000, Paired Rows: 1769150, Time: 2018-06-28 20:14:36.295087
Total Rows Read: 29000000, Paired Rows: 1775033, Time: 2018-06-28 20:14:51.129663
Total Rows Read: 29100000, Paired Rows: 1781013, Time: 2018-06-28 20:15:03.943094
Total Rows Read: 29200000, Paired Rows: 1787127, Time: 2018-06-28 20:15:16.694213
Total Rows Read: 29300000, Paired Rows: 1793665, Time: 2018-06-28 20:15:29.014462
Total Rows Read: 29400000, Paired Rows: 1799859, Time: 2018-06-28 20:15:41.642867
Total Rows Read: 29500000, Paired Rows: 1806122, Time: 2018-06-28 20:15:54.763730
Total Rows Read: 29600000, Paired Rows: 1812326, Time: 2018-06-28 20:16:07.257645
Total Rows Read: 29700000, Paired Rows: 1818421, Time: 2018-06-28 20:16:20.179360
Total Rows Read: 29800000, Paired Rows: 1824792, Time: 2018-06-28 20:16:33.296294
Total Rows Read: 29900000, Paired Rows: 1830842, Time: 2018-06-28 20:16:46.215883
Total Rows Read: 30000000, Paired Rows: 1836777, Time: 2018-06-28 20:16:59.397129
Total Rows Read: 30100000, Paired Rows: 1843138, Time: 2018-06-28 20:17:12.805219
Total Rows Read: 30200000, Paired Rows: 1849631, Time: 2018-06-28 20:17:25.305557
Total Rows Read: 30300000, Paired Rows: 1855591, Time: 2018-06-28 20:17:39.424809
Total Rows Read: 30400000, Paired Rows: 1861324, Time: 2018-06-28 20:17:51.637468

Total Rows Read: 30500000, Paired Rows: 1866789, Time: 2018-06-28 20:18:04.432132
Total Rows Read: 30600000, Paired Rows: 1872890, Time: 2018-06-28 20:18:16.586958
Total Rows Read: 30700000, Paired Rows: 1879227, Time: 2018-06-28 20:18:28.931331
Total Rows Read: 30800000, Paired Rows: 1885442, Time: 2018-06-28 20:18:41.371386
Total Rows Read: 30900000, Paired Rows: 1891945, Time: 2018-06-28 20:18:54.764805
Total Rows Read: 31000000, Paired Rows: 1898557, Time: 2018-06-28 20:19:09.732441
Total Rows Read: 31100000, Paired Rows: 1905095, Time: 2018-06-28 20:19:24.450506
Total Rows Read: 31200000, Paired Rows: 1911833, Time: 2018-06-28 20:19:39.099600
Total Rows Read: 31300000, Paired Rows: 1918410, Time: 2018-06-28 20:19:52.319959
Total Rows Read: 31400000, Paired Rows: 1924935, Time: 2018-06-28 20:20:06.035275
Total Rows Read: 31500000, Paired Rows: 1931344, Time: 2018-06-28 20:20:20.469801
Total Rows Read: 31600000, Paired Rows: 1937700, Time: 2018-06-28 20:20:33.636084
Total Rows Read: 31700000, Paired Rows: 1943773, Time: 2018-06-28 20:20:46.593193
Total Rows Read: 31800000, Paired Rows: 1949792, Time: 2018-06-28 20:20:59.629092
Total Rows Read: 31900000, Paired Rows: 1955804, Time: 2018-06-28 20:21:13.571012
Total Rows Read: 32000000, Paired Rows: 1962136, Time: 2018-06-28 20:21:26.832803
Total Rows Read: 32100000, Paired Rows: 1968235, Time: 2018-06-28 20:21:39.628306
Total Rows Read: 32200000, Paired Rows: 1973864, Time: 2018-06-28 20:21:52.569629
Total Rows Read: 32300000, Paired Rows: 1979393, Time: 2018-06-28 20:22:05.480229
Total Rows Read: 32400000, Paired Rows: 1985217, Time: 2018-06-28 20:22:18.446572
Total Rows Read: 32500000, Paired Rows: 1991289, Time: 2018-06-28 20:22:33.386857
Total Rows Read: 32600000, Paired Rows: 1997448, Time: 2018-06-28 20:22:47.318357
Total Rows Read: 32700000, Paired Rows: 2003918, Time: 2018-06-28 20:23:00.578141
Total Rows Read: 32800000, Paired Rows: 2010399, Time: 2018-06-28 20:23:14.242603
Total Rows Read: 32900000, Paired Rows: 2016910, Time: 2018-06-28 20:23:27.763657
Total Rows Read: 33000000, Paired Rows: 2023634, Time: 2018-06-28 20:23:41.157800
Total Rows Read: 33100000, Paired Rows: 2029955, Time: 2018-06-28 20:23:53.918694
Total Rows Read: 33200000, Paired Rows: 2036095, Time: 2018-06-28 20:24:06.314276
Total Rows Read: 33300000, Paired Rows: 2042380, Time: 2018-06-28 20:24:18.717264
Total Rows Read: 33400000, Paired Rows: 2048873, Time: 2018-06-28 20:24:31.127315
Total Rows Read: 33500000, Paired Rows: 2055342, Time: 2018-06-28 20:24:43.817538
Total Rows Read: 33600000, Paired Rows: 2061040, Time: 2018-06-28 20:24:55.881100
Total Rows Read: 33700000, Paired Rows: 2067112, Time: 2018-06-28 20:25:08.214844
Total Rows Read: 33800000, Paired Rows: 2073210, Time: 2018-06-28 20:25:20.532265
Total Rows Read: 33900000, Paired Rows: 2079118, Time: 2018-06-28 20:25:32.725694
Total Rows Read: 34000000, Paired Rows: 2084755, Time: 2018-06-28 20:25:45.180453
Total Rows Read: 34100000, Paired Rows: 2090464, Time: 2018-06-28 20:25:57.499177
Total Rows Read: 34200000, Paired Rows: 2095779, Time: 2018-06-28 20:26:09.664814
Total Rows Read: 34300000, Paired Rows: 2101266, Time: 2018-06-28 20:26:21.907114
Total Rows Read: 34400000, Paired Rows: 2107542, Time: 2018-06-28 20:26:34.310814
Total Rows Read: 34500000, Paired Rows: 2113942, Time: 2018-06-28 20:26:48.095376
Total Rows Read: 34600000, Paired Rows: 2120281, Time: 2018-06-28 20:27:00.571527
Total Rows Read: 34700000, Paired Rows: 2126923, Time: 2018-06-28 20:27:12.945956
Total Rows Read: 34800000, Paired Rows: 2133583, Time: 2018-06-28 20:27:25.487180
Total Rows Read: 34900000, Paired Rows: 2140138, Time: 2018-06-28 20:27:37.833417
Total Rows Read: 35000000, Paired Rows: 2146594, Time: 2018-06-28 20:27:50.269381
Total Rows Read: 35100000, Paired Rows: 2153031, Time: 2018-06-28 20:28:02.931656
Total Rows Read: 35200000, Paired Rows: 2159702, Time: 2018-06-28 20:28:15.398660
Total Rows Read: 35300000, Paired Rows: 2166044, Time: 2018-06-28 20:28:27.781568
Total Rows Read: 35400000, Paired Rows: 2172378, Time: 2018-06-28 20:28:40.280888
Total Rows Read: 35500000, Paired Rows: 2178259, Time: 2018-06-28 20:28:52.676140
Total Rows Read: 35600000, Paired Rows: 2183746, Time: 2018-06-28 20:29:05.418991
Total Rows Read: 35700000, Paired Rows: 2189402, Time: 2018-06-28 20:29:17.595748
Total Rows Read: 35800000, Paired Rows: 2195728, Time: 2018-06-28 20:29:30.329722
Total Rows Read: 35900000, Paired Rows: 2201593, Time: 2018-06-28 20:29:42.584865
Total Rows Read: 36000000, Paired Rows: 2207113, Time: 2018-06-28 20:29:54.856695
Total Rows Read: 36100000, Paired Rows: 2212471, Time: 2018-06-28 20:30:07.277276
Total Rows Read: 36200000, Paired Rows: 2218278, Time: 2018-06-28 20:30:19.581612
Total Rows Read: 36300000, Paired Rows: 2224400, Time: 2018-06-28 20:30:32.144991
Total Rows Read: 36400000, Paired Rows: 2230665, Time: 2018-06-28 20:30:44.465436
Total Rows Read: 36500000, Paired Rows: 2237126, Time: 2018-06-28 20:30:56.937507
Total Rows Read: 36600000, Paired Rows: 2243536, Time: 2018-06-28 20:31:09.608318
Total Rows Read: 36700000, Paired Rows: 2250056, Time: 2018-06-28 20:31:23.040371
Total Rows Read: 36800000, Paired Rows: 2256611, Time: 2018-06-28 20:31:36.395175
Total Rows Read: 36900000, Paired Rows: 2263267, Time: 2018-06-28 20:31:49.808935
Total Rows Read: 37000000, Paired Rows: 2269868, Time: 2018-06-28 20:32:04.437219
Total Rows Read: 37100000, Paired Rows: 2276473, Time: 2018-06-28 20:32:21.292683
Total Rows Read: 37200000, Paired Rows: 2282987, Time: 2018-06-28 20:32:35.974057
Total Rows Read: 37300000, Paired Rows: 2289274, Time: 2018-06-28 20:32:50.870564
Total Rows Read: 37400000, Paired Rows: 2295496, Time: 2018-06-28 20:33:05.463490
Total Rows Read: 37500000, Paired Rows: 2301629, Time: 2018-06-28 20:33:20.173800
Total Rows Read: 37600000, Paired Rows: 2307819, Time: 2018-06-28 20:33:34.936230
Total Rows Read: 37700000, Paired Rows: 2313889, Time: 2018-06-28 20:33:49.774530
Total Rows Read: 37800000, Paired Rows: 2319586, Time: 2018-06-28 20:34:04.275192
Total Rows Read: 37900000, Paired Rows: 2325333, Time: 2018-06-28 20:34:16.138976
Total Rows Read: 38000000, Paired Rows: 2331307, Time: 2018-06-28 20:34:28.472082
Total Rows Read: 38100000, Paired Rows: 2337632, Time: 2018-06-28 20:34:40.789280
Total Rows Read: 38200000, Paired Rows: 2343774, Time: 2018-06-28 20:34:53.049652
Total Rows Read: 38300000, Paired Rows: 2350079, Time: 2018-06-28 20:35:05.170493
Total Rows Read: 38400000, Paired Rows: 2356616, Time: 2018-06-28 20:35:17.484505
Total Rows Read: 38500000, Paired Rows: 2363087, Time: 2018-06-28 20:35:29.865633
Total Rows Read: 38600000, Paired Rows: 2369513, Time: 2018-06-28 20:35:42.254253
Total Rows Read: 38700000, Paired Rows: 2375776, Time: 2018-06-28 20:35:54.667104
Total Rows Read: 38800000, Paired Rows: 2382159, Time: 2018-06-28 20:36:07.138671
Total Rows Read: 38900000, Paired Rows: 2388565, Time: 2018-06-28 20:36:19.329575
Total Rows Read: 39000000, Paired Rows: 2394659, Time: 2018-06-28 20:36:31.566082
Total Rows Read: 39100000, Paired Rows: 2400458, Time: 2018-06-28 20:36:44.041549
Total Rows Read: 39200000, Paired Rows: 2406023, Time: 2018-06-28 20:36:56.252219
Total Rows Read: 39300000, Paired Rows: 2412141, Time: 2018-06-28 20:37:08.412323
Total Rows Read: 39400000, Paired Rows: 2418113, Time: 2018-06-28 20:37:20.786668
Total Rows Read: 39500000, Paired Rows: 2423573, Time: 2018-06-28 20:37:32.821202
Total Rows Read: 39600000, Paired Rows: 2428525, Time: 2018-06-28 20:37:44.960891
Total Rows Read: 39700000, Paired Rows: 2433622, Time: 2018-06-28 20:37:56.992902
Total Rows Read: 39800000, Paired Rows: 2439195, Time: 2018-06-28 20:38:08.869832
Total Rows Read: 39900000, Paired Rows: 2445479, Time: 2018-06-28 20:38:21.932700
Total Rows Read: 40000000, Paired Rows: 2451905, Time: 2018-06-28 20:38:34.137968
Total Rows Read: 40100000, Paired Rows: 2458151, Time: 2018-06-28 20:38:46.342278
Total Rows Read: 40200000, Paired Rows: 2464575, Time: 2018-06-28 20:38:59.220029
Total Rows Read: 40300000, Paired Rows: 2470927, Time: 2018-06-28 20:39:11.682236
Total Rows Read: 40400000, Paired Rows: 2477076, Time: 2018-06-28 20:39:23.944559

Total Rows Read: 40500000, Paired Rows: 2483556, Time: 2018-06-28 20:39:36.366871
Total Rows Read: 40600000, Paired Rows: 2489566, Time: 2018-06-28 20:39:48.679778
Total Rows Read: 40700000, Paired Rows: 2495404, Time: 2018-06-28 20:40:01.222848
Total Rows Read: 40800000, Paired Rows: 2501298, Time: 2018-06-28 20:40:13.594353
Total Rows Read: 40900000, Paired Rows: 2507599, Time: 2018-06-28 20:40:25.950729
Total Rows Read: 41000000, Paired Rows: 2513422, Time: 2018-06-28 20:40:38.656845
Total Rows Read: 41100000, Paired Rows: 2518873, Time: 2018-06-28 20:40:51.198260
Total Rows Read: 41200000, Paired Rows: 2524306, Time: 2018-06-28 20:41:03.893826
Total Rows Read: 41300000, Paired Rows: 2530107, Time: 2018-06-28 20:41:16.533577
Total Rows Read: 41400000, Paired Rows: 2536246, Time: 2018-06-28 20:41:28.670378
Total Rows Read: 41500000, Paired Rows: 2542569, Time: 2018-06-28 20:41:41.363190
Total Rows Read: 41600000, Paired Rows: 2549074, Time: 2018-06-28 20:41:53.575672
Total Rows Read: 41700000, Paired Rows: 2555339, Time: 2018-06-28 20:42:06.080335
Total Rows Read: 41800000, Paired Rows: 2561731, Time: 2018-06-28 20:42:18.784447
Total Rows Read: 41900000, Paired Rows: 2568214, Time: 2018-06-28 20:42:30.848840
Total Rows Read: 42000000, Paired Rows: 2574572, Time: 2018-06-28 20:42:43.063465
Total Rows Read: 42100000, Paired Rows: 2580752, Time: 2018-06-28 20:42:55.216877
Total Rows Read: 42200000, Paired Rows: 2586256, Time: 2018-06-28 20:43:07.027577
Total Rows Read: 42300000, Paired Rows: 2592482, Time: 2018-06-28 20:43:19.791280
Total Rows Read: 42400000, Paired Rows: 2599115, Time: 2018-06-28 20:43:33.016236
Total Rows Read: 42500000, Paired Rows: 2605347, Time: 2018-06-28 20:43:46.537465
Total Rows Read: 42600000, Paired Rows: 2610874, Time: 2018-06-28 20:44:00.081454
Total Rows Read: 42700000, Paired Rows: 2616366, Time: 2018-06-28 20:44:13.048169
Total Rows Read: 42800000, Paired Rows: 2622103, Time: 2018-06-28 20:44:26.279444
Total Rows Read: 42900000, Paired Rows: 2628202, Time: 2018-06-28 20:44:39.798931
Total Rows Read: 43000000, Paired Rows: 2634296, Time: 2018-06-28 20:44:52.354675
Total Rows Read: 43100000, Paired Rows: 2640386, Time: 2018-06-28 20:45:04.514572
Total Rows Read: 43200000, Paired Rows: 2646713, Time: 2018-06-28 20:45:16.833784
Total Rows Read: 43300000, Paired Rows: 2653118, Time: 2018-06-28 20:45:29.697770
Total Rows Read: 43400000, Paired Rows: 2659369, Time: 2018-06-28 20:45:42.715808
Total Rows Read: 43500000, Paired Rows: 2665988, Time: 2018-06-28 20:45:56.938912
Total Rows Read: 43600000, Paired Rows: 2672499, Time: 2018-06-28 20:46:10.204115
Total Rows Read: 43700000, Paired Rows: 2678779, Time: 2018-06-28 20:46:22.209053
Total Rows Read: 43800000, Paired Rows: 2684973, Time: 2018-06-28 20:46:34.486745
Total Rows Read: 43900000, Paired Rows: 2690918, Time: 2018-06-28 20:46:46.751213
Total Rows Read: 44000000, Paired Rows: 2696788, Time: 2018-06-28 20:46:59.336566
Total Rows Read: 44100000, Paired Rows: 2702884, Time: 2018-06-28 20:47:11.808543
Total Rows Read: 44200000, Paired Rows: 2708904, Time: 2018-06-28 20:47:24.274299
Total Rows Read: 44300000, Paired Rows: 2714506, Time: 2018-06-28 20:47:36.638413
Total Rows Read: 44400000, Paired Rows: 2720002, Time: 2018-06-28 20:47:49.720547
Total Rows Read: 44500000, Paired Rows: 2725892, Time: 2018-06-28 20:48:04.067421
Total Rows Read: 44600000, Paired Rows: 2732050, Time: 2018-06-28 20:48:16.763832
Total Rows Read: 44700000, Paired Rows: 2738398, Time: 2018-06-28 20:48:29.973422
Total Rows Read: 44800000, Paired Rows: 2744945, Time: 2018-06-28 20:48:44.044141
Total Rows Read: 44900000, Paired Rows: 2751308, Time: 2018-06-28 20:48:56.919618
Total Rows Read: 45000000, Paired Rows: 2757657, Time: 2018-06-28 20:49:09.124789
Total Rows Read: 45100000, Paired Rows: 2763871, Time: 2018-06-28 20:49:21.344082
Total Rows Read: 45200000, Paired Rows: 2770245, Time: 2018-06-28 20:49:34.466910
Total Rows Read: 45300000, Paired Rows: 2776636, Time: 2018-06-28 20:49:46.530828
Total Rows Read: 45400000, Paired Rows: 2782855, Time: 2018-06-28 20:49:59.190689
Total Rows Read: 45500000, Paired Rows: 2789256, Time: 2018-06-28 20:50:11.799849
Total Rows Read: 45600000, Paired Rows: 2795687, Time: 2018-06-28 20:50:24.781406
Total Rows Read: 45700000, Paired Rows: 2801530, Time: 2018-06-28 20:50:36.813638
Total Rows Read: 45800000, Paired Rows: 2807678, Time: 2018-06-28 20:50:48.997176
Total Rows Read: 45900000, Paired Rows: 2813713, Time: 2018-06-28 20:51:01.687205
Total Rows Read: 46000000, Paired Rows: 2819852, Time: 2018-06-28 20:51:13.752255
Total Rows Read: 46100000, Paired Rows: 2825825, Time: 2018-06-28 20:51:25.968939
Total Rows Read: 46200000, Paired Rows: 2831345, Time: 2018-06-28 20:51:37.910710
Total Rows Read: 46300000, Paired Rows: 2836679, Time: 2018-06-28 20:51:49.892605
Total Rows Read: 46400000, Paired Rows: 2842368, Time: 2018-06-28 20:52:02.207660
Total Rows Read: 46500000, Paired Rows: 2848667, Time: 2018-06-28 20:52:14.735316
Total Rows Read: 46600000, Paired Rows: 2855223, Time: 2018-06-28 20:52:26.962707
Total Rows Read: 46700000, Paired Rows: 2861613, Time: 2018-06-28 20:52:39.203388
Total Rows Read: 46800000, Paired Rows: 2867869, Time: 2018-06-28 20:52:51.458210
Total Rows Read: 46900000, Paired Rows: 2874287, Time: 2018-06-28 20:53:03.930393
Total Rows Read: 47000000, Paired Rows: 2880733, Time: 2018-06-28 20:53:16.568374
Total Rows Read: 47100000, Paired Rows: 2887262, Time: 2018-06-28 20:53:29.813206
Total Rows Read: 47200000, Paired Rows: 2893995, Time: 2018-06-28 20:53:42.239550
Total Rows Read: 47300000, Paired Rows: 2900588, Time: 2018-06-28 20:53:56.140029
Total Rows Read: 47400000, Paired Rows: 2906984, Time: 2018-06-28 20:54:08.674255
Total Rows Read: 47500000, Paired Rows: 2913548, Time: 2018-06-28 20:54:21.774883
Total Rows Read: 47600000, Paired Rows: 2919864, Time: 2018-06-28 20:54:34.224539
Total Rows Read: 47700000, Paired Rows: 2925911, Time: 2018-06-28 20:54:46.311975
Total Rows Read: 47800000, Paired Rows: 2932106, Time: 2018-06-28 20:55:00.290320
Total Rows Read: 47900000, Paired Rows: 2938017, Time: 2018-06-28 20:55:12.193925
Total Rows Read: 48000000, Paired Rows: 2943916, Time: 2018-06-28 20:55:24.579660
Total Rows Read: 48100000, Paired Rows: 2949368, Time: 2018-06-28 20:55:36.567258
Total Rows Read: 48200000, Paired Rows: 2954819, Time: 2018-06-28 20:55:48.479859
Total Rows Read: 48300000, Paired Rows: 2960730, Time: 2018-06-28 20:56:00.444905
Total Rows Read: 48400000, Paired Rows: 2966952, Time: 2018-06-28 20:56:12.445782
Total Rows Read: 48500000, Paired Rows: 2973374, Time: 2018-06-28 20:56:24.816066
Total Rows Read: 48600000, Paired Rows: 2979625, Time: 2018-06-28 20:56:37.211213
Total Rows Read: 48700000, Paired Rows: 2986006, Time: 2018-06-28 20:56:49.329533
Total Rows Read: 48800000, Paired Rows: 2992358, Time: 2018-06-28 20:57:01.440992
Total Rows Read: 48900000, Paired Rows: 2998755, Time: 2018-06-28 20:57:13.556775
Total Rows Read: 49000000, Paired Rows: 3005130, Time: 2018-06-28 20:57:25.626404
Total Rows Read: 49100000, Paired Rows: 3011652, Time: 2018-06-28 20:57:37.925378
Total Rows Read: 49200000, Paired Rows: 3018054, Time: 2018-06-28 20:57:50.223616
Total Rows Read: 49300000, Paired Rows: 3024470, Time: 2018-06-28 20:58:02.099915
Total Rows Read: 49400000, Paired Rows: 3030480, Time: 2018-06-28 20:58:13.999942
Total Rows Read: 49500000, Paired Rows: 3036690, Time: 2018-06-28 20:58:25.885832
Total Rows Read: 49600000, Paired Rows: 3042810, Time: 2018-06-28 20:58:37.923083
Total Rows Read: 49700000, Paired Rows: 3048819, Time: 2018-06-28 20:58:50.006937
Total Rows Read: 49800000, Paired Rows: 3054850, Time: 2018-06-28 20:59:01.954955
Total Rows Read: 49900000, Paired Rows: 3060591, Time: 2018-06-28 20:59:13.780621
Total Rows Read: 50000000, Paired Rows: 3066143, Time: 2018-06-28 20:59:25.620342
Total Rows Read: 50100000, Paired Rows: 3071543, Time: 2018-06-28 20:59:37.564729
Total Rows Read: 50200000, Paired Rows: 3077180, Time: 2018-06-28 20:59:49.894875
Total Rows Read: 50300000, Paired Rows: 3083037, Time: 2018-06-28 21:00:02.313768
Total Rows Read: 50400000, Paired Rows: 3089025, Time: 2018-06-28 21:00:14.267191

Total Rows Read: 50500000, Paired Rows: 3095294, Time: 2018-06-28 21:00:26.298466
Total Rows Read: 50600000, Paired Rows: 3101415, Time: 2018-06-28 21:00:38.922474
Total Rows Read: 50700000, Paired Rows: 3107356, Time: 2018-06-28 21:00:50.926156
Total Rows Read: 50800000, Paired Rows: 3113450, Time: 2018-06-28 21:01:02.906261
Total Rows Read: 50900000, Paired Rows: 3119559, Time: 2018-06-28 21:01:14.734869
Total Rows Read: 51000000, Paired Rows: 3125727, Time: 2018-06-28 21:01:26.654222
Total Rows Read: 51100000, Paired Rows: 3132041, Time: 2018-06-28 21:01:38.537674
Total Rows Read: 51200000, Paired Rows: 3138203, Time: 2018-06-28 21:01:50.306541
Total Rows Read: 51300000, Paired Rows: 3144214, Time: 2018-06-28 21:02:02.522094
Total Rows Read: 51400000, Paired Rows: 3150205, Time: 2018-06-28 21:02:14.271604
Total Rows Read: 51500000, Paired Rows: 3156174, Time: 2018-06-28 21:02:26.099700
Total Rows Read: 51600000, Paired Rows: 3161920, Time: 2018-06-28 21:02:37.917224
Total Rows Read: 51700000, Paired Rows: 3168223, Time: 2018-06-28 21:02:49.771462
Total Rows Read: 51800000, Paired Rows: 3174335, Time: 2018-06-28 21:03:01.823318
Total Rows Read: 51900000, Paired Rows: 3179813, Time: 2018-06-28 21:03:13.872912
Total Rows Read: 52000000, Paired Rows: 3185046, Time: 2018-06-28 21:03:25.714746
Total Rows Read: 52100000, Paired Rows: 3190953, Time: 2018-06-28 21:03:37.566931
Total Rows Read: 52200000, Paired Rows: 3196979, Time: 2018-06-28 21:03:49.423047
Total Rows Read: 52300000, Paired Rows: 3203239, Time: 2018-06-28 21:04:01.542276
Total Rows Read: 52400000, Paired Rows: 3209377, Time: 2018-06-28 21:04:13.779358
Total Rows Read: 52500000, Paired Rows: 3215723, Time: 2018-06-28 21:04:25.717160
Total Rows Read: 52600000, Paired Rows: 3222038, Time: 2018-06-28 21:04:37.659421
Total Rows Read: 52700000, Paired Rows: 3228260, Time: 2018-06-28 21:04:49.569653
Total Rows Read: 52800000, Paired Rows: 3234576, Time: 2018-06-28 21:05:01.499937
Total Rows Read: 52900000, Paired Rows: 3240935, Time: 2018-06-28 21:05:13.628083
Total Rows Read: 53000000, Paired Rows: 3247080, Time: 2018-06-28 21:05:26.406498
Total Rows Read: 53100000, Paired Rows: 3253114, Time: 2018-06-28 21:05:48.418851
Total Rows Read: 53200000, Paired Rows: 3259100, Time: 2018-06-28 21:06:11.353224
Total Rows Read: 53300000, Paired Rows: 3265203, Time: 2018-06-28 21:06:25.384346
Total Rows Read: 53400000, Paired Rows: 3271080, Time: 2018-06-28 21:06:37.167009
Total Rows Read: 53500000, Paired Rows: 3276444, Time: 2018-06-28 21:06:50.770758
Total Rows Read: 53600000, Paired Rows: 3281935, Time: 2018-06-28 21:07:02.620556
Total Rows Read: 53700000, Paired Rows: 3287797, Time: 2018-06-28 21:07:14.547468
Total Rows Read: 53800000, Paired Rows: 3293999, Time: 2018-06-28 21:07:26.707304
Total Rows Read: 53900000, Paired Rows: 3300505, Time: 2018-06-28 21:07:38.660610
Total Rows Read: 54000000, Paired Rows: 3306870, Time: 2018-06-28 21:07:51.174432
Total Rows Read: 54100000, Paired Rows: 3313311, Time: 2018-06-28 21:08:03.156004
Total Rows Read: 54200000, Paired Rows: 3319717, Time: 2018-06-28 21:08:15.117097
Total Rows Read: 54300000, Paired Rows: 3326213, Time: 2018-06-28 21:08:27.118820
Total Rows Read: 54400000, Paired Rows: 3332701, Time: 2018-06-28 21:08:39.515519
Total Rows Read: 54500000, Paired Rows: 3339233, Time: 2018-06-28 21:08:51.470627